<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374890264578-2im7cnc9n6m0o6a1ca486arkta7pajp2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374890264578-2im7cnc9n6m0o6a1ca486arkta7pajp2</string>
	<key>API_KEY</key>
	<string>AIzaSyAJUwWyiAKapVvzXI96etCV5zTrM2od1FY</string>
	<key>GCM_SENDER_ID</key>
	<string>374890264578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramDumy</string>
	<key>PROJECT_ID</key>
	<string>instagram-colne-88a2a</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-colne-88a2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374890264578:ios:194abebf84f0a280124f1b</string>
</dict>
</plist>